<%- include ../../public/header.ejs%>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">

                <%- include ../../public/aside.ejs%>


            </div>
            <div class="col-sm-10">
                <ol class="breadcrumb">
                    <li class="active">用户管理
                    </li>
                    <li class="active">用户列表
                    </li>
                </ol>
                <div class="panel panel-default">

                    <div class="panel-heading">
                        修改用户
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive input-form">
                            <form action="/admin/user/yhxg" method="post" enctype="multipart/form-data">
                                <ul>
                                    <input type="hidden" value="<%=list._id%>" name="id" />
                                    <li> 用户　名: <input type="text" name="username" readonly unselectable="on" value="<%=list.username%>" /></li>
                                    <br>
                                    <li> 密　　码: <input type="text" name="password" value="<%=list.password%>" /></li>
                                    <br>
                                    <li> 年　　龄: <input type="text" name="sex" value="<%=list.sex%>" /></li>
                                    <br>
                                    <li> 电　　话: <input type="text" name="tel" value="<%=list.phoneNumber%>" /></li>
                                    <br>
                                    <li> 修改时间: <input type="datetime-local" name="addtime" value="<%=list.addtime%>" /></li>
                                    <br>
                                    </li>重要身份: <input type="text" name="status" value="<%=list.status%>" />
                                    <br>
                                    <li>
                                        <br>
                                        <button type="submit" class="btn btn-default">提交</button>
                                        <a href="/admin/user/" class="btn btn-default" style="color: #000">返回</a>
                                    </li>

                                </ul>


                            </form>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

    </body>

    </html>